<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker | Index</title>
    <meta name="description" content="An issue tracker made for Free Code Camp">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/public/style.css">
    <!-- bootstrap config-->
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
          crossorigin="anonymous">
  </head>
  <body class="d-flex flex-column">
    <div id="main-container" class="content d-flex flex-column">
      <header class="nav"></header>
      <h1 id="projectTitle">Issue Tracker</h1>      
      <hr style="margin: 50px">

      <div id="start-project-container">
        <h2 class="flex-fill text-center">Start a new Project:</h2>
        <div id="create-project-container" class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Project Name" id="start-project-field">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="start-project-button" onclick="goToProject()">Start Project</button>
          </div>
        </div>  
      </div>
      
      
      <h3 class="text-center">Projects</h3>
      <div class="board-list-group"></div>
      <hr style="margin: 50px">
      
    </div> 
    <footer class="footer text-center">
        <p id="footer-container">
          Created by <span class="important-text">Robby East</span> as part of <span class="important-text">Free Code Camp</span> project provided <a href="https://learn.freecodecamp.org/information-security-and-quality-assurance/information-security-and-quality-assurance-projects/issue-tracker">here</a>
        </p>
      </footer>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        $('#testForm').submit(function(e) {
          $.ajax({
            url: '/api/issues/apitest',
            type: 'post',
            data: $('#testForm').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
        });
        $('#testForm2').submit(function(e) {
          $.ajax({
            url: '/api/issues/apitest',
            type: 'put',
            data: $('#testForm2').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
        });
        $('#testForm3').submit(function(e) {
          $.ajax({
            url: '/api/issues/apitest',
            type: 'delete',
            data: $('#testForm3').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
        });
      });
   </script>
    <!-- handler to get list of boards-->
    <script>
      $(function() {
        var url = "/api/projects"
        $.ajax({
          type: "GET",
          url: url,
          success: function(data) {
            let current_url = window.location.host;
            let board_list_holder = [];
            data.forEach(function(board) {
              board_list_holder.push(`
              <a href="${board.title}" class="board-list-item list-group-item list-group-item-action">${board.title}</a>
              `)
            })
            $('.board-list-group').html(board_list_holder.join(''));
          }
        });
      });
    </script>
    <script>
      /* helper function to send user to proper url when clicking on start project button */
      function goToProject() {
        console.log('inside',window.origin)
        var user_input = $( "#start-project-field" ).val().split(' ').join('-');
        if (user_input.length == 0) {
          location.reload();
        } else { 
          window.location = `${window.origin}/${user_input}`;  
        }
      }
    </script>
  </body>
</html>